@model eDnevnikM.Models.Predmeti

@{
    Layout = null;
}﻿

<h2>Save</h2>
@using (Html.BeginForm("save", "predmeti", FormMethod.Post, new { id = "popupForm" }))
{
    if (Model != null && Model.PredmetID > 0)
    {
        @Html.HiddenFor(a => a.PredmetID)
    }

    <div class="form-group">
        <label>Naziv predmeta</label>
        @Html.TextBoxFor(a => a.NazivPredmeta, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.NazivPredmeta)
    </div>
    <div class="form-group">
        <label>Redosled</label>
        @Html.TextBoxFor(a => a.Redosled, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Redosled)
    </div>

    <div class="form-group">
        <label>Tip ocene</label>
        @Html.DropDownList("TipOcene", new List<SelectListItem> {
         new SelectListItem{Text="Predmeti", Value="Predmeti"},
         new SelectListItem{Text="Vladanje", Value="Vladanje"},
         new SelectListItem{Text="Gradjansko", Value="Gradjansko"},
         new SelectListItem{Text="Versko", Value="Versko"}}, "Selektuj tip")

        @Html.ValidationMessageFor(a => a.TipOcene)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.ProfesorID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(a => a.ProfesorID, ViewBag.ProfesorID as SelectList, "Selektuj profesora", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.ProfesorID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.GodinaID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(a => a.GodinaID, ViewBag.GodinaID as SelectList, "Selektuj godinu", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.GodinaID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
}


