
@model eDnevnikM.Models.Ucenici

@{
    Layout = null;
}﻿

<h2>Save</h2>
@using (Html.BeginForm("save", "ucenici", FormMethod.Post, new { id = "popupForm" }))
{
    if (Model != null && Model.UcenikID > 0)
    {
        @Html.HiddenFor(a => a.UcenikID)
    }

    <div class="form-group">
        @Html.LabelFor(a => a.OdeljenjeID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(a => a.OdeljenjeID, ViewBag.OdeljenjeID as SelectList, "Selektuj odeljenje", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.OdeljenjeID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label>Ime</label>
        @Html.TextBoxFor(a => a.Ime, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Ime)
    </div>
    <div class="form-group">
        <label>Prezime</label>
        @Html.TextBoxFor(a => a.Prezime, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Prezime)
    </div>
    <div class="form-group">
        <label>Datum rodjenja</label>
        @Html.TextBoxFor(a => a.DatumRodjenja ,new { @class = "form-control" } )
        @Html.ValidationMessageFor(a => a.DatumRodjenja)
    </div>
    <div class="form-group">
        <label>Adresa</label>
        @Html.TextBoxFor(a => a.Adresa, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Adresa)
    </div>
    <div class="form-group">
        <label>Godina upisa</label>
        @Html.TextBoxFor(a => a.GodinaUpisa, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.GodinaUpisa)
    </div>
    <div class="form-group">
        <label>Redni broj u odeljenju</label>
        @Html.TextBoxFor(a => a.RedBrUOdeljenju, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.RedBrUOdeljenju)
    </div>

    <div class="form-group">
        <label>Lozinka</label>
        @Html.TextBoxFor(a => a.Lozinka, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Lozinka)
    </div>

  
    <div>
        <input type="submit" value="Save" />
    </div>
}
