@model eDnevnikM.Models.Odeljenja

@{
    Layout = null;
}﻿


<h2>Delete Odeljenje</h2>
@using (Html.BeginForm("delete", "odeljenja", FormMethod.Post, new { id = "popupForm" }))
{

    @Html.HiddenFor(a => a.OdeljenjeID)


    <div class="form-group">
        <label>Godina</label>
        @Html.TextBoxFor(a => a.GodinaID, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.GodinaID)
    </div>
    <div class="form-group">
        <label>Broj odeljenja</label>
        @Html.TextBoxFor(a => a.BrojOdeljenja, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.BrojOdeljenja)
    </div>
    <div class="form-group">
        <label>Godina upisa</label>
        @Html.TextBoxFor(a => a.GodinaUpisa, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.GodinaUpisa)
    </div>
    <div class="form-group">
        <label>Maticni broj odeljenja</label>
        @Html.TextBoxFor(a => a.MatBrOdeljenja, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.MatBrOdeljenja)
    </div>
    
    <div>
        <input type="submit" value="Delete" />
    </div>
}
